/* ---- particles.js container ---- */
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #222831;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
body {
    font-size: 24px;
    background: #222831;
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif !important;

}
.h2-top{
    background: rgb(0,0,0,0.7);
    padding: 10px;
    border-radius: 5px;
}
.h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
}
.all-screen{
    height: 100vh;
    padding: 0;
    margin: 0;
}
.header{
    z-index: 100;
    position: fixed;
    width: 100vw;
}
.header-bloks a,header li a{
    color: #ffffff !important;
    transition: all linear 0.5s;
}
.header-bloks a:hover, .cntr-welcome a:hover, .contact a:hover{
    text-decoration: none;
    transition: all linear 0.5s;
    background: #375788 !important;
}
.logo, .logo:hover{
    color: #ffffff !important;
}
.p-0{
    padding-left: 0;
    padding-right: 0;
}
.txt-40{
    font-size: 40px;
}
.bdr-box{
    box-sizing: border-box;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.menu{
    font-size: 20px;
    margin-left: 500px;
}
.navbar-inverse{
    background: rgb(0,0,0,0.7);
    border: none;
    border-bottom: 1px solid #BBBBBB;
}
.navbar-nav>.active>a, .navbar-inverse .navbar-toggle{
    background: #375788 !important;
}

.bg-portfolio{
    height: 100%;
    width: 100%;
    background:url("img/background_in_top.jpg") no-repeat center center;
    background-size: cover; 
    top: 0%;
    z-index: -1;
}
.cntr-welcome{
    position: relative;
    top: 13%;
}
.cntr-welcome a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    width: auto;
    height: auto;
    background: rgb(0,0,0,0.7);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.cntr-welcome .to-fb a, .cntr-welcome .to-git a, .contact a{
    transition: all linear 0.5s;
}
.cntr-welcome .to-fb a:hover{
    background-color: #4267b2 !important;
}
.cntr-welcome .to-git a:hover{
    background-color: #28af47 !important;

}
.p-t{
    padding-top: 100px;
    margin-right: 300px;
}
content{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #000000;
}

#about, #contact{
    position: relative;
    background: #f2f2f2;
    padding-bottom: 50px;
}

#quotes{
    position: relative;
    background: #ffffff;
    padding-bottom: 50px;
}

#contact a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    width: auto;
    height: auto;
    background: rgb(0,0,0,0.7);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.contact a:hover{
    transition: all linear 0.5s;
    background-color: #d14836 !important;
}
.quotes .container{
    word-wrap: break-word !important;
}

#slides {
     position: relative;
     height: 300px;
     padding: 0px;
     margin: 0px;
     list-style-type: none;
}

.slide {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     opacity: 0;
     z-index: 1;

     -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
     -o-transition: opacity 1s;
     transition: opacity 1s;
}

.showing {
     opacity: 1;
     z-index: 2;
}
.slide{
     font-size: 40px;
     padding: 40px;
     box-sizing: border-box;
     color: #000000;
}

blockquote{
    margin: 0;
    padding: 40px;
    position: relative;
}
blockquote:before, blockquote:after{
    font-size: 45px;
    color: #375788;
    position: absolute;
    height: 2px;
    left: 40px;
    right: 40px;
    line-height: .5;
    background: linear-gradient(to right, #375788 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #375788 55%);
    font-family: serif;
}
blockquote:before{
    content: "\201C";
    top: 30px;
}
blockquote:after{
    content: "\201D";
    bottom: 30px;
}
blockquote p{
    font-size: 20px;
}
blockquote footer{
    margin-bottom: 1em;
}
blockquote cite{
    font-style: normal;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #000000;
}
ul.social-icons li{
    display: inline-block;
    padding: 10px;
    padding-top: 30px;
}
ul.social-icons li a{
    color: #ffffff;
}

#toTop {
    z-index: 20;
    width: 50px;
    border-radius: 30px;
    background: rgb(0,0,0,0.7);
    padding: 5px;
    position: fixed;
    bottom: 220px;
    right: 40px;
    cursor: pointer;
    display: none;
    text-align: center;
    transition: all linear 0.5s;
}
#toTop:hover{
    transition: all linear 0.5s;
    background-color: #222831; !important;
}






